body{
  margin:0;
  font-family: 'Ubuntu', sans-serif;
  color:#444;
  letter-spacing:1px;
  line-height:1.4;
}
.header{
  padding:8px;
  background:rgba(0,0,0,0.8);
}
.content{
  padding:8px;
  h1{
    text-transform: uppercase;
  }
  h2{
    font-size:1.2em;
  }
}
